.card {
  color: var(--color-bg);
  position: relative;
  z-index: 100;
  border: var(--card-border) solid;

  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 10px;

  @media (min-width: $breakpoint-sm) {
    margin-top: 10px;
    margin-left: 0;
    transform: translateX(-10px);
  }

  @media (min-width: $breakpoint-md) {
    max-width: 600px;
    margin-top: 0;
  }

  @media (min-width: $breakpoint-sm) and (max-height: $breakpoint-sm) {
    --card-border: 30px;
    border: var(--card-border) solid;
    border-top: 8px solid;
    width: 80vw;
  }
}

.card {
  border-color: var(--color-primary);
  z-index: 1;
  position: relative;

  .accent {
    color: var(--color-primary);
  }

  .heading,
  .explanation {
    background: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary); //crapfixing that ugly pixel on chrome
  }

  &:before,
  &:after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: calc(10px - var(--card-border));
    left: calc(10px - var(--card-border));
  }

  &:before {
    right: calc(0px - var(--card-border));
    bottom: calc(0px - var(--card-border));
    border-left: 3px solid var(--color-bg);
    border-top: 3px solid var(--color-bg);
    z-index: 2;

    @media (min-width: $breakpoint-sm) and (max-height: $breakpoint-sm) {
      top: calc(30px - var(--card-border));
    }
  }

  &:after {
    z-index: 1;
    right: calc(0px - var(--card-border) - 12px);
    bottom: calc(0px - var(--card-border) - 12px);
    border-right: 3px solid var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
    border-top: 3px solid var(--color-primary);
    border-left: 3px solid var(--color-primary);

    @media (min-width: $breakpoint-sm) and (max-height: $breakpoint-sm) {
      top: calc(30px - var(--card-border));
    }
  }
}