@import "../vars";

@mixin lineBefore ($size,$color){
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: $size solid $color;
  transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;
}

.sections-nav-container{
  z-index: 1400;
  right: 0;
  width: $nav-width;
  display: block;
  top: 5rem;
  position: fixed;
  background-color: var(--color-bg);
  transition: $nav-transition;
  transform: translateX(-$nav-margin);
  .section-nav-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    padding-left: 0;

    &:before {
      @include lineBefore(1px,var(--color-inactive));
    }

    .sections-nav-item{

      & > :only-child {
        text-decoration: none;
        padding-left: 2rem;
      }

      .nav-link {
        display: block;
        position: relative;
        padding-top: .375rem;
        padding-bottom: .375rem;
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: all .15s ease-in-out;
        color: var(--color-inactive);

        &:not(.active):hover{
          color: var(--color-font);
          &:before {
            transform: scaleX(1);
          }
        }

        &.active {
          color: var(--color-primary);
          &:before {
            @include lineBefore(2px, var(--color-primary));
            transform: scaleY(1);
          }
        }

        &:before{
          @include lineBefore(2px, var(--color-font));
          transform: scaleY(0);
        }
      }

      .sections-nav-info{
        padding-top: 3rem;
      }
    }
  }
}
.responsive-burger{
  display:none;
  position: fixed;
  width: 100vw;
  z-index: 10000;

  .button-nav-menu{
    margin-left: auto;
    margin-top: .2rem;
    margin-right: .5rem;
  }
}
@media screen and (max-width: $breakpoint-lg) {
  .responsive-burger{
    display: flex;
  }
  .sections-nav-container{
    transform: translateX($nav-width);

    &.nav-open{
      transform: translateX(-$nav-margin);
    }
  }
}