@import "../vars";

#page-container{
  display: flex;
  transform: translateX(0);
  transition: $nav-transition;
}
.content{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  max-width: calc(100% - #{$nav-width} - #{$nav-margin});
}

@media screen and (max-width: $breakpoint-lg) {
  .content{
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .content{
    max-width: none;
  }

  .sections-nav-container.nav-open{
    &+#page-container {
      transform: translateX(calc(calc(#{$nav-width}*-1) - #{$nav-margin}));
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .content{
    &:only-child{
      flex: none;
      max-width: 100%;
    }
  }
}