@import "../vars";

.tabs {
  display: flex;
}

.tabs-triggers {
  display: flex;
  padding: 0 2rem;
  margin: 0 0 var(--flow-rhythm) 0;
  /*
  border-bottom: 1px solid var(--font-color);
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  */
  flex-direction: column;

  li {
    list-style: none;
    flex-shrink: 0;
  }

  li + li {
    /*
    margin-inline-start: 1rem;
    */
    margin-top: 1rem;
  }
}

.tabs-button {
  font-family: var(--font-base);
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-inactive);
  background: transparent;
  padding: 0.25rem 0.2rem 0.5rem 0.25rem;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;


  &:focus {
    outline: none;
    text-decoration: none !important;
  }

  &:focus:not(:hover) {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  &:hover {
    border-bottom: 2px solid rgba(237, 237, 255, 0.65);
  }

  &[aria-selected='true'] {
    color: var(--color-font);
    border-color: var(--color-primary);
  }
}

.tabs-article {
  transition: opacity 200ms ease, transform 300ms linear;

  &[data-state='hidden'] {
    opacity: 0;
    transform: translateY(0.5rem);
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
  }

  &[data-state='visible'] {
    padding: 1rem;
    opacity: 1;
    transform: none;
    transition-delay: 200ms;
  }

  & p:first-of-type {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 0;
  }

  & > * {
    max-width: 50ch;
  }

  &:focus {
    outline: 1px solid var(--color-inactive);
  }
}


@media screen and (max-width: $breakpoint-md) {
  .tabs {
    display: block;
  }

  .tabs-triggers {
    flex-flow: row;
    max-width: 100%;
    overflow-x: auto;
    border-bottom: 1px solid var(--color-font);
    -webkit-overflow-scrolling: touch;

    li + li {
      margin-inline-start: 1rem;
      margin-top: 0;
    }
  }

}