/**
Creation des variables de css
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-bg: #000029;
    --color-bg-lighter: #000080;
    --color-shadows: #000309;
    --color-inactive: rgba(237, 237, 255, 0.63);
    --color-font:  rgb(237, 237, 255);
    --color-primary: #F18F01;
    --font-base: Montserrat, sans-serif;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --flow-rhythm: 1.5rem;
}

/**
  Deffinition des element principeau
  -body
  -h1
  -h2
  -h3
  -h4
  -a
  -p
 */
*, ::after, ::before {
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg);
    font-family: var(--font-base);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-font);
    text-align: left;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1{
    font-size: 8rem;
    line-height: 1;
    font-weight: 800;
    font-style: normal;
}

h2{
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 800;
}

h3{
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 800;
}

h4{
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 600;
}

p{
    text-align: justify;
}

/**
    Definition des classes principal
 */

/*Definitions des titres*/
.title-with-separator{
    position: relative;
    padding-bottom: 1.75rem;
    margin-bottom: 2rem;
}
.title-with-separator::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 6rem;
    border-bottom: 2px solid var(--color-primary);
}

.weighty{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

/*Definition des sections*/
.big-section {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
}

.section-title{
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.section-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-footer {
    padding-bottom: 1.5rem;
}

/*Definition des tabs*/
.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: var(--color-primary);
    font-weight: bold;
    transition: background ease 0.3s;
}

.tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
    background: var(--color-bg-lighter);
    box-shadow: -10px 10px 0 0 var(--color-shadows);
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    background: var(--color-bg-lighter);
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

/**
 * Gestion du flow
 */
.flow {
    --flow-space: var(--flow-rhythm);
}

.flow > * + * {
    margin-top: var(--flow-space);
}

/**
 * Flow de la balise custom
 */
tabs-group > * {
    --flow-space: 2rem;
}

/**
    Definition element en particulier
 */
#page-container{
    padding-right: 30px;
    padding-left: 30px;
}
#profile_pict{
    aspect-ratio: 1/1;
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    border: solid var(--color-primary) 3px;
}